menu {
    background-color: var(--color-white);
    width: 100%;
    height: max-content;
    z-index: 1;
    box-shadow: 0px -1px 3px 1px rgba(0, 0, 0, 0.2);
    position: sticky;
    top:0;
}
.menuBar {
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
}
.menuOption {
    display: flex;
    gap: 0.5rem;
}
.menuIconWrapper{
    display: flex;
}
.verticalIconSeperator {
    margin: auto;
    border: none;
    border-left: 2px solid var(--color-background-600);
    height: 32px;
    margin-left: 1rem;
    margin-right: 0.5rem;
}
