.candidateDetails {
  display: grid;
  grid-template-columns: 5fr 2fr;
  background-color: var(--color-white);
}
.candidateDashboard {
  background-color: var(--color-background-100);
}
@media (max-width: 1200px) {
  .candidateDetails {
      display: flex;
      flex-direction: column;
  }
}
